@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #2d3a8c;
}

.heading {
    font-size: 20px;
    text-align: center;
}

.name {
    font-size: 25px;
}

.input-styles {
    color: #7b8794;
    font-size: 15px;
    font-weight: 500;
}

.site-bookmark {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
    color: black;
}

.bookmark-form {
    background-color: #f5f7fa;
    margin: 20px;
    border-radius: 20px;
}

.button {
    background-color: #21396c;
    color: white;
    border-radius: 6px;
    padding: 8px;
}

.err-msg {
    color: #dc3545;
}

.list-styles {
    list-style: none;
    margin: 20px;
}
